Clientes/Clientes_dtd.dtd

<!ELEMENT Clientes (Sede*)>
<!ELEMENT Sede (Dirección,Empleado,Fecha_alta,Cliente)>
<!ATTLIST Sede código ID #REQUIRED>
<!ELEMENT Dirección (#PCDATA)>
<!ELEMENT Empleado (#PCDATA)>
<!ELEMENT Fecha_alta (#PCDATA)>
<!ELEMENT Cliente (Descripción,Num_viviendas,Coste,Resumen,Plazo_alta)>
<!ATTLIST Cliente código ID #REQUIRED>
<!ELEMENT Descripción (#PCDATA)>
<!ELEMENT Num_viviendas (#PCDATA)>
<!ELEMENT Coste (#PCDATA)>
<!ELEMENT Resumen (#PCDATA)>
<!ELEMENT Plazo_alta (#PCDATA)>