Clientes/Clientes_dtd.dtd

<!ELEMENT Clientes (Sede)>
<!ELEMENT Sede (Direcci贸n,Empleado,Fecha_alta,Descripci贸n,Cliente)>
<!ATTLIST Sede codigo NMTOKEN #REQUIRED>
<!ELEMENT Direcci 贸n (#PCDATA)>
<!ELEMENT Empleado (#PCDATA)>
<!ELEMENT Fecha_alta (#PCDATA)>
<!ELEMENT Descripci 贸n (#PCDATA)>
<!ELEMENT Cliente (Num_viviendas,Coste,Resumen,Plazo_alta)>
<!ATTLIST Cliente codigo NMTOKEN #REQUIRED>
<!ELEMENT Num_viviendas (#PCDATA)>
<!ELEMENT Coste (#PCDATA)>
<!ELEMENT Resumen (#PCDATA)>
<!ELEMENT Plazo_alta (#PCDATA)>