Clientes/Clientes.dtd

<!ELEMENT Clientes (Sede*)>
<!ELEMENT Sede (Direcci贸n, Empleado, Fecha_alta, Descripci贸n, Cliente)>
<!ATTLIST Sede codigo CDATA #REQUIRED>
<!ELEMENT Direcci贸n (#PCDATA)>
<!ELEMENT Empleado (#PCDATA)>
<!ELEMENT Fecha_alta (#PCDATA)>
<!ELEMENT Descripci贸n (#PCDATA)>
<!ELEMENT Cliente (Num_viviendas, Coste, Resumen, Plazo_alta)>
<!ATTLIST Cliente codigo ID #REQUIRED>
<!ELEMENT Num_viviendas (#PCDATA)>
<!ELEMENT Coste (#PCDATA)>
<!ELEMENT Resumen (#PCDATA)>
<!ELEMENT Plazo_alta (#PCDATA)>
